/*_padding-margin-alignment.scss*/

//margins
@include generate-sizes("lt-margin", "margin", 1em, 3em, 7em);
@include generate-sizes("lt-margin-top", "margin-top", 1em, 3em, 7em);
@include generate-sizes("lt-margin-right", "margin-right", 1em, 3em, 7em);
@include generate-sizes("lt-margin-left", "margin-left", 1em, 3em, 7em);
@include generate-sizes("lt-margin-bottom", "margin-bottom", 1em, 3em, 7em);
//larger sizes
@include generate-sizes-large("lt-margin", "margin", 15em, 25em, 70em);
@include generate-sizes-large("lt-margin-top", "margin-top", 15em, 25em, 70em);
@include generate-sizes-large("lt-margin-right", "margin-right", 15em, 25em, 70em);
@include generate-sizes-large("lt-margin-left", "margin-left", 15em, 25em, 70em);
@include generate-sizes-large("lt-margin-bottom", "margin-bottom", 15em, 25em, 70em);


//paddings
@include generate-sizes("lt-padding", "padding", 1em, 3em, 7em);
@include generate-sizes("lt-padding-top", "padding-top", 1em, 3em, 7em);
@include generate-sizes("lt-padding-right", "padding-right", 1em, 3em, 7em);
@include generate-sizes("lt-padding-left", "padding-left", 1em, 3em, 7em);
@include generate-sizes("lt-padding-bottom", "padding-bottom", 1em, 3em, 7em);
//larger sizes
@include generate-sizes-large("lt-padding", "padding", 16em, 22em, 70em);
@include generate-sizes-large("lt-padding-top", "padding-top", 16em, 22em, 70em);
@include generate-sizes-large("lt-padding-right", "padding-right", 16em, 22em, 70em);
@include generate-sizes-large("lt-padding-left", "padding-left", 16em, 22em, 70em);
@include generate-sizes-large("lt-padding-bottom", "padding-bottom", 16em, 22em, 70em);


//text alignment
.lt-text-right{
	text-align: right;
}
.lt-text-left{
	text-align: left;
}
.lt-text-center{	
	text-align: center;
}


//width
@include generate-sizes("lt-width", "width", 25vw, 35vw, 45vw);
